<!--nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Inicio</a>
      <a class="nav-link active" routerLink="/usuario">Crear</a>
      <a class="nav-link active">Active</a>
    </div>
</nav-->

<nav class="navbar bg-light">
  <div class="container justify-content-start">
      <div class="navbar-brand">
        <a class="nav-link"  routerLink="/usuario" routerLinkActive="Active">
          <img src="../../assets/database.svg">
          Inicio
        </a>
      </div>
    <div class="navbar-brand">
      <a class="nav-link" routerLink="/create" routerLinkActive="Active">
        <img src="../../assets/person.svg">
        Crear Usuario
      </a>
    </div>
  </div>
</nav>


